@use './variables';

header{
    color: variables.$primary-color;
    font-size: 2em;
    font-family: variables.$font-primary;
    font-weight: 600;   
}

#quote-box{
    display: flex;
    flex-direction: column;
    margin: 5rem auto;
    max-width: 33rem;
    width: 100%;
    padding: 25px; 
    border-radius: 2em;
    border: .6rem solid variables.$primary-color;
    
}

.img-inpsac{
    width: 40%;
    height: 100%;
    position: relative;
    border-radius: 50%;
}

#text{
    color: variables.$primary-color;
    font-size: 1.5em;
    font-family: variables.$font-primary;
    font-weight: 400;
    font-style: italic;
    padding: .5em;
    text-align:justify;
}

#author{ 
    display: inline-block;
    color: variables.$primary-color;
    font-size: 1.4em;
    font-family: variables.$font-secondary;
    padding: .2em;
    text-align:right;
    max-width: 10em;


}